{% extends 'base.html.twig' %}

{% block title %}New Devoir{% endblock %}

{% block body %}
    <h1>Create new Devoir</h1>

    {{ include('devoir/_form.html.twig') }}

    <a href="{{ path('app_devoir_index') }}">back to list</a>
{% endblock %}
